<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SmartWindow</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/bootstrap_min.css" )}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/bootstrap_icons.css" )}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/control.css" )}}" />
    <!--jquery-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_min.js') }}"></script>
    <script type="text/javascript" >
		// Set global variable
  var watchID;
  function showPosition() {
	  if(navigator.geolocation) {
		  watchID = navigator.geolocation.watchPosition(successCallback);
	  } else {
		  alert("Sorry, your browser does not support HTML5 geolocation.");
	  }
  }

  function successCallback(position) {


	  // Check position has been changed or not before doing anything
	  if(prevLat != position.coords.latitude || prevLong != position.coords.longitude){

		  // Set previous location
		  var prevLat = position.coords.latitude;
		  var prevLong = position.coords.longitude;

		  // Get current position
		  var positionInfo =   position.coords.latitude + ", " + position.coords.longitude ;

          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {


             var data = JSON.parse( this.responseText ) ;

             var current_location = document.getElementById("location_info_card");
             current_location.innerHTML = data.current_loc;
             const museums_info_table = document.getElementById("nearest_museums_info_table");
             var tableRows = museums_info_table.getElementsByTagName('tr');
             var rowCount = tableRows.length;

             for (var x=rowCount-1; x>=0; x--) {
                   museums_info_table.removeChild(tableRows[x]);
                }
                for(var  i = 0; i<data.museums.length; i++)
                {
                       const tr = document.createElement('tr');

                        const td1 = document.createElement('td');
                        td1.innerText = data.museums[i];
                        tr.appendChild(td1);

                        const td2 = document.createElement('td');
                        td2.innerText = data.museums_distance[i];
                        tr.appendChild(td2);

                       museums_info_table.appendChild(tr);

                }
             const landmarks_info_table = document.getElementById("nearest_landmarks_info_table");
             tableRows = landmarks_info_table.getElementsByTagName('tr');
             rowCount = tableRows.length;

             for (var x=rowCount-1; x>=0; x--) {
                   landmarks_info_table.removeChild(tableRows[x]);
                }
                for(var  i = 0; i<data.landmarks.length; i++)
                {
                       const tr = document.createElement('tr');

                        const td1 = document.createElement('td');
                        td1.innerText = data.landmarks[i];
                        tr.appendChild(td1);

                        const td2 = document.createElement('td');
                        td2.innerText = data.landmarks_distance[i];
                        tr.appendChild(td2);

                       landmarks_info_table.appendChild(tr);

                }
            // fetch request starting here

            fetch('https://api.openweathermap.org/data/2.5/weather?q='+data.current_loc[1]+'&appid=a7049cdf5b04e184b6314f4c5660b41d').then(
                function(response) {
                  if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' +
                      response.status);
                    return;
                  }

                  // Examine the text in the response
                  response.json().then(function(data) {
                  console.log(data);
                  var name_value= data['name'];
                  var temp_value=  data['main']['temp'] - 274;
                  temp_value = Math.floor(temp_value) ;
                  console.log(temp_value);
                  var description = data['weather'][0]['description'];
                  var weather_info = name_value + '<br>' + temp_value+ ' deg Celsius'+ '<br>' + description ;
                   var current_weather = document.getElementById("weather_info");
                   current_weather.innerHTML = weather_info;
                  });
                }
              )
              .catch(function(err) {
                console.log('Fetch Error :-S', err);
              });






          // edning here
            }
          };
          xhttp.open("POST", "get_geolocation_data", false);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send(JSON.stringify({loc: positionInfo}));

	  }

  }
  // Initialise the whole system (above)
  window.onload = showPosition;
  </script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Video view port -->
            <video id="video" class="col-md-12 video" autoplay loop controls muted>

            </video>
            <!-- Video view port -->
            <button type="button" id="info-pos" class="btn btn-outline-info btn-sm btn-info-pos">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
            </button>

            <button type="button" id="curr-pos" class="btn btn-outline-info btn-sm btn-curr-pos">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-compass"
                     viewBox="0 0 16 16">
                    <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    <path d="M6.94 7.44l4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
                </svg>
            </button>

            <div class="col-md-3 info-cards">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                   <!-- Collapsible Group Item #1 -->
                                    Current location

                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div id="location_info_card" class="card-body">


                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                   Nearest museums & their distance
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" >
                               <table id="nearest_museums_info_table" >

                               </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                    Nearest landmarks & their distance
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordion">
                            <div class="card-body">
                               <table id="nearest_landmarks_info_table" >

                               </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                    Weather info now
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-parent="#accordion">
                            <div class="card-body" id="weather_info">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- JS -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery_3_5_1_slim_min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap_bundle_min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/presentation.js') }}"></script>
<script>
	var video = document.getElementById('video');
	// Get access to the camera!
	if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
		// Not adding `{ audio: true }` since we only want video now
		navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
			//video.src = window.URL.createObjectURL(stream);
			video.srcObject = stream;
			video.play();
		});
	}

</script>
<!-- JS -->
</body>
</html>