<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- static CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/style.css" )}}" />
    <script>
          // Set global variable
    var watchID;

    function showPosition() {
        if(navigator.geolocation) {
            watchID = navigator.geolocation.watchPosition(successCallback);
        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    }

    function successCallback(position) {


        // Check position has been changed or not before doing anything
        if(prevLat != position.coords.latitude || prevLong != position.coords.longitude){

            // Set previous location
            var prevLat = position.coords.latitude;
            var prevLong = position.coords.longitude;

            // Get current position
            var positionInfo =   position.coords.latitude + ", " + position.coords.longitude ;
           // document.getElementById("result").innerHTML = positionInfo;
             $.ajax({
                type: "POST",
                url: "/getdata",
                contentType: "application/json",
                data: JSON.stringify({loc: positionInfo}),
                dataType: "json",
                success: function(response) {
                    $('.data1').html(response.museums[0]+', <br>'+response.museums_distance[0] + ', <br>'+response.museums[1]+',<br> '+response.museums_distance[1]+',<br>' +response.museums[2]+',<br> '+response.museums_distance[2]);
                    $('.data3').html('latitude = '+response.lat+', longitude='+ response.long+'<br>'+response.current_loc[0]+', '+response.current_loc[1]);
                    $('.data2').html(response.landmarks[0]+', <br> distance = '+response.landmarks_distance[0] + ', <br>'+response.landmarks[1]+', <br>  distance = ' +response.landmarks_distance[1] );
                    console.log(response);
                },
                error: function(err) {
                    console.log(err);
                }
            });

        }

    }
    // Initialise the whole system (above)
    window.onload = showPosition;
    </script>
    <title>Live Streaming </title>
</head>
<body>

<h5>Live Streaming</h5>

<div class="container">
    <img src="{{ url_for('video_feed') }}" width="1280px" height="720px">
    <p class="data1" id="museums" style="color:blue">

    </p>
    <p class="data2" id = "landmarks" style="color:blue">

    </p>
    <h5 class="data3" id="location" style="color:blue">

    </h5>
    <button class="btn1">Nearest museums</button>
    <button class="btn2">Neareart landmarks</button>
</div>

<script>
   $(document).ready(function(){
  $(".btn1").click(function(){
    $("#museums").slideToggle();
  });
   $(".btn2").click(function(){
    $("#landmarks").slideToggle();
  });
  });


</script>
</body>
</html>